<h1>Receipt list</h1>
<hr>
<div class="list-group">
	<span class="list-group-item" ng-repeat="item in items">
	 	Item Name: {{item.name}} / Item Price : $ {{ item.price }} &nbsp; &nbsp; 
	    <i class="glyphicon glyphicon-remove pull-right text-danger" 
	    	ui-sref="deleteItem({id: item.id})"></i>	 	
	 	<i class="glyphicon glyphicon-pencil pull-right text-primary" 
	 		style="cursor: pointer; padding-right:20px" 
	 		ui-sref="editItem({id: item.id})"></i> 
  	</span>
</div>
<div>
	<button class="btn btn-default" ui-sref="addItem">Add Item</button>
</div>