<h1>Store list</h1>
<hr>
<div class="list-group">
	<span class="list-group-item" ng-repeat="store in stores">
	 	{{store.name}}&nbsp; &nbsp; 
	    <i class="glyphicon glyphicon-remove pull-right text-danger" 
	    	ui-sref="deleteStore({id: store.id})"></i>	 	
	 	<i class="glyphicon glyphicon-pencil pull-right text-primary" 
	 		style="cursor: pointer; padding-right:20px" 
	 		ui-sref="editStore({id: store.id})"></i> 
  	</span>
</div>
<div>
	<button class="btn btn-default" ui-sref="addStore">Add Store</button>
</div>