body {
 padding-top:50px;
}
.glyphicon-remove:hover {
 cursor:pointer;
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
}

.checkbox span {
    margin-left: 20px;
    font-weight: normal;
}